<div><p>Add some questions </p></div>
<%= simple_form_for [@interview, @question] do |f| %>
<div class="form-inputs">
  <%= f.input :question %>
</div>
<div class="form-actions">
<%= f.submit class: "btn btn-primary"%>
</div>
<% end %>

<%= form_tag sendsms_path, method: :post do %>
  <%= text_field_tag :number,
    params[:number],
    class: "form-control",
    placeholder: "Write candidate number"
  %>
<%= text_field_tag :link,
    params[:link],
    class: "form-control",
    placeholder: "Add link"
  %>

<%= text_field_tag :company,
    params[:company],
    class: "form-control",
    value: @interview.company
  %>
<%= text_field_tag :deadline,
    params[:deadline],
    class: "form-control",
    value: @interview.final_date
  %>
<%= hidden_field_tag :interview,
    @interview.id
  %>
  <%= submit_tag "Invite", class: "btn btn-primary" %>
<% end %>
