<div class="d-flex justify-content-between pt-2 pb-2">
  <h1>Your Interviews - <%= Interview.count %></h1>
  <span>
    <%= link_to "Create New", new_interview_path, class: "btn btn-primary btn-lg" %>
  </span>
</div>
<div class="flex-container3">
<% @interviews.order("final_date").each do |interview| %>
  <div class="card-product2">
      <% if interview.photo.attached? %>
        <%= cl_image_tag interview.photo.key, crop: :fill %>
      <% else %>
        <h6><%= interview.company %></h6>
      <% end %>
     <%= link_to interview_videos_path(interview) do %>
    <div class="card-product-infos">
      <h2><%= interview.name %></h2>
      <p><%= interview.company %> : <strong><%= interview.days_remaining %> days</strong> left.</p>
    </div>
    <% end %>
  </div>
  <% end %>
</div>