<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <%= link_to image_tag('logo_transparent.png')%>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
        <%= link_to image_tag('profile.png') %>
        </div>
        <div class="info">
          <a class="d-block">Maria</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
              <li class="nav-item">
                <div class="nav-link d-flex">
                  <div><i class="far fa-circle nav-icon"></i></div>
                  <div><%= link_to('Dashboard', dashboard_path) %></div>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link d-flex">
                  <div><i class="far fa-circle nav-icon"></i></div>
                  <div><%= link_to('Interviews', interviews_path) %></div>
                </div>
              </li>
          </li>
          <br><br><br>
          <br><br><br>
          <li class="nav-item">
            <div class="nav-link d-flex">
               <div><i class="nav-icon fas fa-th"></i></div>
               <div><%= link_to('Exit', destroy_user_session_path, method: :delete) %></div>
            </div>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>