<!DOCTYPE html>
<html>
  <head>
    <title>LeScreen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.5/css/adminlte.min.css" integrity="sha512-rVZC4rf0Piwtw/LsgwXxKXzWq3L0P6atiQKBNuXYRbg2FoRbSTIY0k2DxuJcs7dk4e/ShtMzglHKBOJxW8EQyQ==" crossorigin="anonymous" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.5/js/adminlte.min.js" integrity="sha512-++c7zGcm18AhH83pOIETVReg0dr1Yn8XTRw+0bWSIWAVCAwz1s2PwnSj4z/OOyKlwSXc4RLg3nnjR22q0dhEyA==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <!-- <body data-scrollbar-auto-hide="n" class="hold-transition sidebar-mini layout-fixed"> -->
  <body>
    <div class="video-mobile-background">
      <div class="video-mobile-wrap">
	      <div id="video-mobile">
	        <video id="bgvid" autoplay loop muted playsinline>
		        <source src="https://lewagon.masscom.media/assets/videos/stars.mp4" type="video/mp4">
	        </video>	
	      </div>
      </div>
    </div>
    <div class="container mobile-container">
        <div class="text-center"><%= image_tag 'logo_transparent.png', class: 'mobile-logo' %></div>
        <%= yield %>
    </div>
  </body>
</html>
